@import 'global.css';
@import 'mainbackground.css';
@import 'header-mainstyles.css';

@import 'footer-mainstyles.css';

.content{
    display: flex;
    flex-direction: column;
}

.content-container{
    flex: 1;
}