footer{
    height: 5vh;
    background-color: #b87e42;
    padding: 1vh 1vw;
    display: flex;
}

.footer-component{
    flex: 1;
}

.footer-component > div{
    display: inline-block;
    padding-left: 4vw;
    padding-right: 4vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-container-square, .footer-container-circle, .footer-container-hexagon{
    padding: .4vw;
    background-color: white;
    display: inline-block;
}

.footer-component a{
    color: black;
}

.footer-container-circle{
    border-radius: 50%;
}