*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
    --default-color: #b87d41;
    --hover-color: #ad906f;
    --selected-color: #ab4122;
}

body{
    overflow-x: hidden;
}

.text-italic{
    font-style: italic;
}

.bg-dark-brown{
    background-color: var(--default-color);
}

.bg-brown{
    background-color: var(--hover-color);
}

.d-inline-block{
    display: inline-block;
}

.text-bolder{
    font-weight: bolder;
}

.c-dark-brown{
    color: var(--default-color);
}

.symbol-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--default-color);
    cursor: pointer;
}

.symbol-dot__selected{
    background-color: var(--selected-color);
}

.symbol-dot:hover{
    background-color: var(--selected-color);
}