@import 'global.css';
@import 'header.css';

.content{
    display: flex;
    flex-direction: column;
}

.content-container{
    flex: 1;
}

.content-top-part-container{
    width: 60%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 3vh;
}

.content-top-part-title{
    font-size: 5vh;
    color: chocolate;
    font-weight: bolder;
    padding: 4vh 1vw;
}

.content-top-part-description{
    padding: 4vh 1vw;
}

.content-top-part-categories{
    display: flex;
}

.content-top-part-category{
    flex: 1;
    background-color: saddlebrown;
    color: white;
    margin: 1vh 1vw;
    padding: 2vh 1vw;
}

.content-bottom-part{
    display: flex;
    background-color: lightgray;
    padding: 2vh 1vw;
}

.content-bottom-part-container{
    flex: 1;
}

.content-bottom-part-right-component{
    text-align: left;
}

.form-group-i2{
    display: flex;
}

.form-group-i1{
    margin-right: 2vw;
}

.form-subgroup{
    flex: 1;
    margin-right: 2vw;
}

.form-group-i2 input{
    width: 100%;
}

.form-group-i1 input, .form-group-i1 textarea{
    width: 100%;
}