@import 'global.css';
@import 'mainbackground.css';
@import 'modal-box-mainstyles.css';
@import 'header-mainstyles.css';
@import 'index-slideshow-substyles.css';
@import 'index-content-top-part-substyles.css';
@import 'index-content-bottom-part-substyles.css';
@import 'footer-mainstyles.css';

.content{
    display: flex;
    flex-direction: column;
}

.content-container{
    flex: 1;
}