.content-bottom-part{
    display: flex;
    background-image: url("../assets/contactusbackground-homepage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 75vh;
    padding: 2vh 1vw;
}

.content-bottom-part-container{
    flex: 1;
}

.content-bottom-part-right-component{
    text-align: left;
    padding: 3vh 1vw;
}

.right-component-title-part{
    padding: 1vh 1vw;
}

.content-bottom-part-right-component-title{
    margin-bottom: 2vh;
    font-size: 2vh;
}

.content-bottom-part-right-component-title-left{
    color:white;
}

.form-group-i2{
    display: flex;
    margin: 1vh 0;
}

.form-group-i1{
    margin-right: 2vw;
    margin-bottom: 1vh;
}

.form-subgroup{
    flex: 1;
    margin-right: 2vw;
}

.form-group-i2 input, .form-group-i1 input, .form-group-i1 textarea{
    border-radius: 8px;
    height: 5vh;
    padding: 0.5vh 0.5vw;
    border-color: var(--default-color);
    border-style: solid;
}

.form-group-i2 input{
    width: 100%;
}

.form-group-i1 input, .form-group-i1 textarea{
    width: 100%;
}

.form-group-i1 textarea{
    height: 30vh;
    resize: none;
}

.form-label{
    color: var(--default-color);
}