.content{
    background-color: var(--default-color);
    padding: 1vh 1vw;

    --default-logo-width: 20vw;
    --default-logo-height: 30vh;
}

.logo-image{
    background-image: url("../assets/logo.png");
    background-size: var(--default-logo-width) var(--default-logo-height);
    background-repeat: no-repeat;

    width: var(--default-logo-width);
    height: var(--default-logo-height);
    margin: 0 auto;
}

.form-container{
    color: white;
    font-size: 2vh;
}

.form-title-container{
    text-align: center;
    font-weight: bolder;
    font-size: 3vh;
}

.form-group-input{
    margin: 1vh 0;
}

.form-group-input-split{
    display: inline;
}

form input[type=text]{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding: 1vh 0;
    width: 100%;
    font-size: 2vh;
    color: white;
}

form select{
    width: 100%;
}

form input[type=submit]{
    width: 20%;
    padding: 1vh 1vw;
    border: none;
    background-color: #bf8a54;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: #cca277;
}