@import 'global.css';
@import 'register-background-substyles.css';
@import 'register-form-substyles.css';

.main-container{
    width: 100vw;
    height: 100vh;
}

.registration-part-form{
    width: 30%;
    height: 100%;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

@media screen and (max-width: 800px){
    .registration-part-form{
        width: 50%;
        height: 55%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        background-color: rgba(128,128,128,0.8);
    }
}